.footer {
    min-height: 77px;
    background-color: #131415;
    padding: 11px 0;
    color: #fff;
}

.footer .logo {
    margin-right: 77px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copywrite-text {
    font-size: 14px;
    width: 24%;
    font-weight: 300;
    line-height: 18px;
}

.footer__copywrite-text span {
    font-weight: 700;
}