.pagination {
    justify-content: center;
    display: flex;
    margin-bottom: 70px;
    margin-right: 9px;
}

.pagination__list {
    display: flex;
    align-items: center;
}

.pagination__item { 
    margin-right: 17px;
}

.pagination__item:last-child {
    margin-right: 0;
}

.pagination__display, .pagination__list {
    font-family: "Roboto";
    font-size: 14px;
}

.pagination__display {
    margin-right: 27px;
    color: #656464;
    font-weight: 300;
}

.pagination__list {
    font-weight: 700;
    text-decoration: none;
}

.pagination__link {
    color: #221f1f;
}

.pagination__link:hover {
    color: #f89513;
}


.pagination__list:before, .pagination__list:after {
    width: 6px;
    height: 10px;
    display: inline-block;
}

.pagination__list:before {
    content: "";
    background-image: url(../../images/pagination_arrows/arow-prew.png);
    margin-right: 22px;
}


.pagination__list:after {
    content: "";
    background-image: url(../../images/pagination_arrows/arrow-next.png);
    margin-left: 14px;
}

.pagination__item--active .pagination__link {
    padding: 3px 9px;
    background-color: #27273e;
    color: #f89513;
    border-radius: 3px;
    margin-right: -11px;
    margin-left: -11px;
}
